:root {
    --primery-font:'Roboto',sans-serif;
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-color:#2196F3;
    --accent-phone-color: #FFFFFF;
    --third-text-color: #000000;
    --foth-text-color: #FFFFFF;
    --secondary-phone-color: #2F303A;
    --secondary-color: #188CE8;
    --third-phone-color: #F5F4FA;
    --border-colors: #EEEEEE;
    --icon-color: #afb1b8;
    --border-color-two: #ECECEC;
    --background-color: #c4c4c4;
}
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.link {
    text-decoration:none;
}
.list {
    list-style:none;
}

img {
    display:block;
    max-width: 100%;
    height: auto;
}
button {
    cursor:pointer;
}
body {
    font-family:var(--primery-font);
    font-size:14px;
    letter-spacing:0.03em;
    color:var(--primary-text-color);
}
.visually-hidden {
    position:absolute;
    white-space:nowrap;
    width:1px;
    height:1px;
    overflow:hidden;
    border:0;
    padding:0;
    clip:rect(0 0 0 0);
    clip-path:inset(50%);
    margin:-1px;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*===heder===*/
.heder-container {
    display: flex;
    align-items: center;
}
.nav-container {
    display: flex;
    align-items: center;
}
.pos-container {
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.list-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.page-header {
    border-bottom: 1px solid var(--border-color-two);
}
.logo {
        padding-top: 24px;
        padding-bottom: 25px;
        margin-right: 93px;
        font-family:'Raleway';
        font-weight:700;
        font-size:26px;
        line-height:1.19;
        color:var(--accent-color);
}
.logoblack {
    font-family:'Raleway';
    font-weight:700;
    font-size:26px;
    line-height:1.19;
    color:var(--third-text-color);
}
.convtel {
    margin-right: 10px;
    fill: var(--secondary-text-color);
}
.convtel:hover {
fill: var(--accent-color);
}
.menu-link {
        padding-top: 32px;
        padding-bottom: 32px;
        font-weight:500;
        line-height:1.14;
        letter-spacing:0.02em;
        color:var(--primary-text-color);
}
.menu-link.current:hover,
.menu-link.current:focus
 {
    color:var(--accent-color);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--primary-text-color);
}
.current {
    color:var(--accent-color);
}
.contacts {
        font-weight:500;
        line-height:1.14;
        letter-spacing:0.02em;
        color:var(--secondary-text-color);
}
.contacts:hover, 
.contacts:focus {
        color:var(--accent-color);
}
/*===hero===*/
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color:var(--secondary-phone-color);
    background-color: var(--background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/phone.jpg);
    background-size: cover;
}
.hero-title {
        font-weight:900;
        font-size:44px;
        line-height:1.36;
        text-align:center;
        letter-spacing:0.06em;
        text-transform:uppercase;
        margin-bottom: 30px;
        width: 696px;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        background-color:var(--secondary-phone-color);
        color:var(--accent-phone-color);
}
.hero-button {
        font-family:var(--primery-font) ;
        font-weight:700;
        font-size:16px;
        line-height:1.88;
        letter-spacing:0.06em;
        border: 0;
        border-radius: 4px;
        align-items: center;
        text-align: center;
        padding: 10px 32px 10px 32px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        background-color:var(--accent-color);
        color:var(--foth-text-color);
}
.hero-button:hover,
.hero-button:focus {
        background-color:var(--secondary-color);
        color:var(--foth-text-color);
}

/*===sections===*/
/*===sectiontwo===*/
.section {
    padding-top:94px;
    padding-bottom:94px;
}
.future-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--third-phone-color);
    border-radius: 4px;
}
.titletwo {
        width: 270px;  
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--primary-text-color);
}
.paragraphtwo {
        width: 270px;
        line-height: 1.71;
        color: var(--secondary-text-color);
}
/*===sectionthree===*/
.sectionthree {
    padding-top: 0;
}
.sectionthreecont {
    padding-top: 0;
}
.sectionthree-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.sectionthree-list {
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: var(--primary-text-color);
}
/*===sectionfour===*/
.sectionfour {
        background-color: var(--third-phone-color);
        
}
.cardsectionfour {
    background: var(--accent-phone-color);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;

}
.sectionfour-list {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color);
}
.workerfoto {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.19;
    font-weight:500;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        fill: var(--icon-color);      
}
.social-link:hover {
    background-color: var(--accent-color);
    fill: #FFFFFF;
}
.position {
    margin-bottom: 30px;
    color: var(--secondary-text-color);
}
.clients-item {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    margin-right: 30px;
    color: var(--icon-color);
    background-color: var(--foth-text-color);
}
.clients-list-icon {
    fill: var(--icon-color);
}
.clients-list-icon:hover {
    fill: var(--accent-color);
}
/*===footer===*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-phone-color);
    flex-direction: column;
    justify-content: flex-start;
}
.shryft {
    font-style: normal;
    justify-content: flex-start;
}
.logo-footer {
    font-family:'Raleway';
    font-weight:700;
    font-size:26px;
    line-height:1.19;
    margin-bottom: 20px;
    justify-content: flex-start;
    display: inline-block;
    color:var(--accent-color);
}
.posts-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.address {
    justify-content: flex-start;
}
.footdistance {
    margin-bottom: 9px;
}
.posts-footer-address:not(:last-child) {
    margin-bottom: 9px;
}
.logowhite {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--foth-text-color);
}
.footerpos {
    line-height: 1.71;
}
.adress {
    color: var(--foth-text-color);
}
.text {
    vertical-align: Top;
        color: rgba(255, 255, 255, 0.6);
}
.general {
    display: flex;
    align-items: baseline;
}
.general-address {
    margin-right: 70px;
}
.general-social-list {
    display: flex;
    gap: 10px;
}
.general-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    fill: var(--foth-text-color);
    color: var(--accent-color);
    border-radius: 50px;
}
.general-social-link:hover {
    background-color: #2196F3;
}
.social-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--foth-text-color);
    text-align: left;
}
/*===portfolio===*/
.container-sectionfive {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 8px;
    gap: 8px;
    margin-bottom: 50px;
    justify-content: center;
}
.btn {
    font-family: var(--primery-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;
    background: var(--third-phone-color);
    color: var(--primary-text-color);
}
.btn:active,.btn:hover,
.btn:focus {
    background: var(--accent-color);
    color: var(--foth-text-color);
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
}
.shadow:hover {
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
}
.distance-border {
    padding: 20px 24px 20px 24px;
    border-right: 1px solid var(--border-colors);
    border-bottom: 1px solid var(--border-colors);
    border-left: 1px solid var(--border-colors);
}
.names { 
    font-family: var(--primery-font);
    font-weight: 700;
    font-size: 18px;
    font-style: bold;
    line-height: 2;
    margin-bottom: 4px;
    color:var(--primary-text-color);
}
.texts {
    font-size: 16px;
    line-height: 1.88;
    color:var(--secondary-text-color);
}


